
body{
  margin: 50px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkorange;
  font-size: large;
  box-sizing: border-box;
  display: flex;
}